reports/boosted.cpp_clang-tidy_83bd652e70aad55616172d31904c11e1.plist
reports/compile_cmd.json
reports/compiler_info.json
reports/metadata.json
reports/skip_file
reports/unique_compile_commands.json
reports/fixit/boosted.cpp_clang-tidy_83bd652e70aad55616172d31904c11e1.yaml
a.out
compile_commands.json
reports_json.json
skipfiles
